@model TeaserBlock

<div class="border">
    @*Link the teaser block only if a link has been set and not displayed in preview*@
    @using (Html.BeginConditionalLink(
        //!(ViewContext.Controller is PreviewController) &&
        !ContentReference.IsNullOrEmpty(Model.Link),
        Url.PageLinkUrl(Model.Link),
        Model.Heading))
    {
    <div style="@Model.PaddingStyles">


        @if (Model.TextPlacement == null || Model.TextPlacement.Equals("AboveImage"))
        {
            <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
            <p @Html.EditAttributes(x => x.Text)>@Model.Text</p>
            if (PageEditing.PageIsInEditMode)
            {
                <div @Html.EditAttributes(x => x.Image)><img src="@Url.ContentUrl(Model.Image)" class="img-responsive" /></div>
            }
            else if (!ContentReference.IsNullOrEmpty(Model.Image))
            {
                <div><img src="@Url.ContentUrl(Model.Image)" class="img-responsive" /></div>
            }
        }
        else
        {
            if (PageEditing.PageIsInEditMode)
            {
                <div @Html.EditAttributes(x => x.Image)><img src="@Url.ContentUrl(Model.Image)" class="img-responsive" /></div>
            }
            else if (!ContentReference.IsNullOrEmpty(Model.Image))
            {
                <div><img src="@Url.ContentUrl(Model.Image)" class="img-responsive" /></div>
            }
            <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
            <p @Html.EditAttributes(x => x.Text)>@Model.Text</p>
        }
    </div>
    }
</div>