@model  VimeoBlock
@{
    var iframeUrl = @Model.VimeoVideo.GetIframeUrl(Model.HasCoverImage);
}

<div style="@Model.PaddingStyles">
    @if (Model.HasHeadingText)
    {
        <div class="media">
            <h1 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h1>
            @Html.PropertyFor(x => x.MainBody)
        </div>
    }
    @if (Model.HasVideo)
    {
        <div class="vimeo-container">
            @if (Model.HasCoverImage)
            {
                <a href="javascript:;" class="starter"><span class="sr-only">Play video</span></a>
                <img src="@Url.ContentUrl(Model.CoverImage)" />
            }
            @if (!string.IsNullOrEmpty(iframeUrl))
            {
                <iframe id="@Model.VimeoVideo.Id" src="@iframeUrl" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            }
        </div>
    }
</div>